html{
    height: 100%;
}
body{
    margin:0;
    height: 100%;
}
.editor-frame-root{
    overflow: hidden;
    display: flex;
    height: 100%;
}
.mdc-drawer__header{
    border-bottom: 1px solid lightgray
}
.mdc-drawer-app-content{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.add-scene-button{
    position: absolute;
    transform: translate(28px, -28px);
}
.mdc-button::before{
    background-color: white;
}
.sceneselected{
    background-color: #ede3fa;
}
.actorselected{
    background-color: #ede3fa;
}
.scriptselected{
    background-color: #ede3fa;
}
.properties-new{
    padding-bottom: 56px;
}
.add-property-button{
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.mdc-top-app-bar{
    position: relative;
}
.menu-scene{
    position:relative; 
    z-index:2; 
    transform:translate(130px,-48px);
    width: 0px;
}
.menu-actor{
    position:relative; 
    z-index:2; 
    transform:translate(300px,-48px);
    width: 0px;
}
.menu-script{
    position:relative; 
    z-index:2; 
    transform:translate(300px,-48px);
    width: 0px;
}
.menu-new-property{
    position:relative; 
    z-index:2; 
    transform:translate(200px,-58px);
    width: 0px;
}
.mdc-fab{
    z-index: 2;
}
.mdc-menu .mdc-list-item {
    margin: 0px;
    padding: 0px 16px;
    height: 48px;
}
.mdc-list-item.mdc-ripple-upgraded {
    margin:0px;
    padding-left:16px;
}
.over{
    border: 1px  solid lightgray;
    opacity: 0.5;
}
.main-content{
    height: 100%;
    width: 100%;
    display: flex;
}
.canvas{
    height: 100%;
    width: 100%;
}
.dialog-full-screen{
    z-index:100;
    position:absolute;
    background-color:rgba(0,0,0,0.2);
    width:100%;
    height:100%;
}
.mdc-card{
    padding: 0px 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.side-sheet{
    width: 320px;
    height: 100%;
    border-left: 1px solid lightgray;
}
.scene-properties{
    height: 100%;
    width: 320px;
}
.side-sheet-content{
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
}
.properties-list{
    padding: 0px;
    height: 100%;
    overflow-y: auto;
}
.list{
    height: 100%;
    overflow-y: auto;
}
.list-bottom{
    margin-bottom: 56px;
}
.properties-section{
    border-bottom:1px solid lightgray;
    background-color:white;
}
.properties-section.properties-section--disable{
    background-color:rgba(0,0,0,0.05);
}
.properties-section-title{
    color:#6200ee ;
    font-size: 1.1rem;
}
#expandbutton{
    padding-left: 0px;
    width: 36px;
}
.properties-panel.open{
    display: block;
}
.properties-panel{
    padding: 8px 16px 8px 16px;
    display: none;
}
.properties-bar{
    border-bottom: 1px solid lightgray;
}
.two-properties{
    width: 100%;
    display: inline-flex;
    flex: 1 1 auto;
}
.new-property{
    padding: 8px 8px 8px 16px;
}
.mdc-text-field{
    width: 100%;
}
.mdc-form-field{
    width: 100%;
}
.mdc-form-field>label{
    padding-left: 16px;
    color: rgba(0,0,0,0.6);
}
.mdc-text-field:not(.mdc-text-field--disabled) {
    background-color: white;
}
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
    background-color: white;
}
.text-field--full{
    width: 100%;
    margin:4px 0px;
}
.text-field--end{
    margin: 4px 0px 4px 4px;
}
.text-field--start{
    margin: 4px 4px 4px 0px;
}
.upload-button{
    top: 10px;
    position: absolute;
    right: 8px;
}
.mdc-image-list__item{
    width:33%;
    padding: 8px;
}
.image-list--selected{
    border: 8px solid #6200ee38;
    margin: -8px;
}
.mdc-image-list__image-aspect-container .mdc-image-list__image  {
    width:100%;
    height: auto;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.mdc-image-list{
    margin:0px;
}