.scriptcanvas{
    height: 100%;
    width: 100%;
    position: relative;
}
.init {
    margin: 64px auto 16px auto;
    width: 16px;
    height: 16px;
    background-color: greenyellow;
    border-radius: 16px;
    border: 2px solid lightgray;
}
.nodelist{
    margin: 16px;
    min-width: 168px;
    min-height: 48px;
}
.end{
    margin: 16px auto;
    width: 36px;
    height: 25px;
    background-color: lightgray;
    border-radius: 6px;
}
.button-text{
    font-size: 1em;
    font-weight: bold;
}
.do-button{
    background-color:#6200ee;
}
.if-button{
    background-color:#018786;
    bottom: 86px;
}
.selection-item.mdc-image-list__item{
    margin: auto;;
}
.action-circle{
    background-color: #6200ee;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding-bottom: 0px;
    margin: auto;
}
.condition-circle{
    background-color: #018786;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding-bottom: 0px;
    margin: auto;
}
.selection-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    color: white;
}
.selection-label{
    margin: auto;
}