.scriptcanvas{
    height: 100%;
    width: 100%;
    position: relative;
}
.init {
    margin: 64px auto 16px auto;
    width: 16px;
    height: 16px;
    background-color: greenyellow;
    border-radius: 16px;
    border: 2px solid lightgray;
}
.nodelist{
    margin: 16px;
    min-width: 168px;
    min-height: 48px;
    border: 2px dashed red;
}
.end{
    margin: 16px auto;
    width: 36px;
    height: 25px;
    background-color: lightgray;
    border-radius: 6px;
}
.button-text{
    font-size: 1em;
    font-weight: bold;
}
.do-button{
    background-color:#6200ee;
}
.if-button{
    background-color:#018786;
    bottom: 86px;
}
.selection-item.mdc-image-list__item{
    margin: auto;
    padding: 4px;
}
.action-circle{
    background-color: #6200ee;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding-bottom: 0px;
    margin: auto;
}
.condition-circle{
    background-color: #018786;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding-bottom: 0px;
    margin: auto;
}
.selection-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    color: white;
    cursor: default;
}
.selection-label{
    margin: auto;
    cursor: default;
}
.node{
    overflow: hidden;
    padding: 16px 0px;
    display: flex;
}
.condition {
    margin: auto;
    display: inline-block;
}
.cuadro {
    position: absolute;
    margin-top: 24px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 12px;
}
.element {
    overflow: visible;
    width: 168px;
    height: 48px;
    margin: auto;
}
.mdc-chip {
    height: 48px;
    width: 168px;
    padding: 0px;
    border-radius: 24px;
    background-color: rgb(235,235,235);
}
.if {
    background-color: rgb(255,200,0);
}
.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.nodeIcon{
    color: white;
    font-weight: bod;
    position: absolute;
    transform: translate(12px,12px);
}
.cancelIcon {
    position: absolute;
    right: 12px;
    top: 12px;
}
.nodelabel{
    width: 80px;
    height: auto;
    margin: -20px auto 0px 8px;
}
.no{
    float:left;
}
.yes{
    float:right;
}
